.img{
    width: 100%;
    height: 100vh;
}
.logo{
    width: 100%;
    height: 100%;
    margin: 15% 0 0 3%;
}
.logo-wv{
    width: 25%;
}
.img-servicios{
    width: 100%;
    height: 100%;
    border: solid 2px #000;
    border-radius: 5px;
}
.slick-dots{
    bottom: 10px;
}
.icono{
    width: 8%;
}